<a href="https://colab.research.google.com/github/Aloxxa/r_public/blob/main/%D0%A2%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D0%BE%D0%B5_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание
https://docs.google.com/document/d/17dImbrnS0XwNWgBI5I9iXGhGu56VwHCR/edit?usp=share_link&ouid=117090210677308894836&rtpof=true&sd=true

#Заливка данных

In [ ]:
pip install faker

Collecting faker
  Downloading Faker-24.2.0-py3-none-any.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 5.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-24.2.0

In [ ]:
from faker import Faker
import random
import numpy as np
import datetime
import pandas as pd

In [ ]:
fake = Faker()

In [ ]:
num_rows = 10000

In [ ]:
customer_id = list(range(1, num_rows + 1))
store_id = [random.randint(1, 100) for _ in range(num_rows)]
first_name = [fake.first_name() for _ in range(num_rows)]
last_name = [fake.last_name() for _ in range(num_rows)]
email = [fake.email() for _ in range(num_rows)]
address_id = list(range(1, num_rows + 1))
activebook = [random.choice([True, False]) for _ in range(num_rows)]
create_date = [fake.date_time_between(start_date="-5y", end_date="now") for _ in range(num_rows)]
last_update = [fake.date_time_between(start_date="-5y", end_date="now") for _ in range(num_rows)]
active = [random.choice([True, False]) for _ in range(num_rows)]

In [ ]:
customer_df = pd.DataFrame({
    'customer_id': customer_id,
    'store_id': store_id,
    'first_name': first_name,
    'last_name': last_name,
    'email': email,
    'address_id': address_id,
    'activebook': activebook,
    'create_date': create_date,
    'last_update': last_update,
    'active': active
})

In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect('db')

In [ ]:
customer_df.to_sql('customers',con,index=False,if_exists='replace',method='multi')

10000

In [ ]:
def select(sql):
  return pd.read_sql(sql,con)

In [ ]:
payment_data = {
    'payment_id': range(1, 10001),
    'customer_id': [random.randint(1, 100) for _ in range(10000)],
    'staff_id': [random.randint(1, 10) for _ in range(10000)],
    'rental_id': [random.randint(1, 500) for _ in range(10000)],
    'amount': [random.uniform(10, 1000) for _ in range(10000)],
    'payment_date': [fake.date_between(start_date='-2y', end_date='today') for _ in range(10000)]
}

In [ ]:
payment_df = pd.DataFrame(payment_data)

In [ ]:
payment_df.to_sql('payment',con,index=False,if_exists='replace',method='multi')

10000

In [ ]:
film_data = {
    'film_id': range(1, 10001),
    'title': [fake.sentence(nb_words=3) for _ in range(10000)],
    'description': [fake.paragraph() for _ in range(10000)],
    'release_year': [random.randint(1990, 2022) for _ in range(10000)],
    'language_id': [random.randint(1, 5) for _ in range(10000)],
    'rental_duration': [random.randint(1, 10) for _ in range(10000)],
    'rental_rate': [random.uniform(1, 10) for _ in range(10000)],
    'length': [random.randint(60, 180) for _ in range(10000)],
    'replacement_cost': [random.uniform(5, 50) for _ in range(10000)],
    'rating': [round(random.uniform(2.0, 9.9), 1) for _ in range(10000)],
    'last_update': [fake.date_time_between(start_date="-5y", end_date="now") for _ in range(10000)],
    'special_features': [', '.join(fake.words(nb=random.randint(3, 6))) for _ in range(10000)],
    'fulltext': [fake.text() for _ in range(10000)]
}

In [ ]:
film_df = pd.DataFrame(film_data)

In [ ]:
avatar_data = {
    'film_id': [10001],
    'title': ['Avatar'],
    'description': [fake.paragraph()],
    'release_year': [2009],
    'language_id': [random.randint(1, 5)],
    'rental_duration': [random.randint(1, 10)],
    'rental_rate': [random.uniform(1, 10)],
    'length': [random.randint(60, 180)],
    'replacement_cost': [random.uniform(5, 50)],
    'rating': [round(random.uniform(2.0, 9.9), 1)],
    'last_update': [fake.date_time_between(start_date="-1m", end_date="now")],
    'special_features': [', '.join(fake.words(nb=random.randint(3, 6)))],
    'fulltext': [fake.text()]
}

In [ ]:
avatar_df = pd.DataFrame(avatar_data)

In [ ]:
film_df = pd.concat([film_df, avatar_df], ignore_index=True)

In [ ]:
film_df.to_sql('film',con,index=False,if_exists='replace',method='multi')

10001

In [ ]:
film_actor_data = {
    'actor_id': list(range(1, 10001)),
    'film_id': [random.randint(1, 10000) for _ in range(10000)],
    'last_update': [fake.date_time_between(start_date="-5y", end_date="now") for _ in range(10000)]
}

In [ ]:
film_actor_df = pd.DataFrame(film_actor_data)

In [ ]:
film_actor_df.to_sql('film_actor',con,index=False,if_exists='replace',method='multi')

10000

In [ ]:
actor_data = {
    'actor_id': list(range(1, 10001)),
    'first_name': [fake.first_name() for _ in range(10000)],
    'last_name': [fake.last_name() for _ in range(10000)],
    'last_update': [fake.date_time_between(start_date="-5y", end_date="now") for _ in range(10000)]
}

In [ ]:
actor_df = pd.DataFrame(actor_data)

In [ ]:
actor_df.to_sql('actor',con,index=False,if_exists='replace',method='multi')

10000

In [ ]:
city_data = {
    'city_id': list(range(1, 10001)),
    'city': [fake.city() for _ in range(10000)],
    'country_id': [fake.random_int(min=1, max=10) for _ in range(10000)],
    'last_update': [fake.date_time_between(start_date="-5y", end_date="now") for _ in range(10000)]
}

In [ ]:
city_df = pd.DataFrame(city_data)

In [ ]:
city_df.to_sql('city',con,index=False,if_exists='replace',method='multi')

10000

In [ ]:
address_data = {
    'address_id': list(range(1, 10001)),
    'address': [fake.street_address() for _ in range(10000)],
    'address2': [fake.secondary_address() for _ in range(10000)],
    'district': [fake.state() for _ in range(10000)],
    'city_id': [fake.random_int(min=1, max=100) for _ in range(10000)],
    'postal_code': [fake.postcode() for _ in range(10000)],
    'phone': [fake.phone_number() for _ in range(10000)],
    'last_update': [fake.date_time_between(start_date="-5y", end_date="now") for _ in range(10000)]
}

In [ ]:
address_df = pd.DataFrame(address_data)

In [ ]:
address_df.to_sql('address',con,index=False,if_exists='replace',method='multi')

10000

In [ ]:
staff_data = {
    'staff_id': list(range(1, 10001)),
    'first_name': [fake.first_name() for _ in range(10000)],
    'last_name': [fake.last_name() for _ in range(10000)],
    'address_id': list(range(1, 10001)),  # Предположим, что у каждого сотрудника свой адрес с address_id от 1 до 10000
    'email': [fake.email() for _ in range(10000)],
    'store_id': [fake.random_int(min=1, max=10) for _ in range(10000)],  # Предположим, что у вас есть 10 магазинов с store_id от 1 до 10
    'active': [fake.boolean() for _ in range(10000)],
    'username': [fake.user_name() for _ in range(10000)],
    'password': [fake.password() for _ in range(10000)],
    'last_update': [fake.date_time_between(start_date="-5y", end_date="now") for _ in range(10000)],
    'picture': [fake.image_url() for _ in range(10000)]
}

In [ ]:
staff_df = pd.DataFrame(staff_data)

In [ ]:
staff_df.to_sql('staff',con,index=False,if_exists='replace',method='multi')

10000

In [ ]:
inventory_data = {
    'inventory_id': list(range(1, 10001)),
    'film_id': [fake.random_int(min=1, max=1000) for _ in range(10000)],
    'store_id': [fake.random_int(min=1, max=10) for _ in range(10000)],
    'last_update': [fake.date_time_between(start_date="-5y", end_date="now") for _ in range(10000)]
}

In [ ]:
inventory_df = pd.DataFrame(inventory_data)

In [ ]:
inventory_df.to_sql('inventory',con,index=False,if_exists='replace',method='multi')

10000

In [ ]:
rental_data = {
    'rental_id': list(range(1, 10001)),
    'rental_date': [fake.date_time_between(start_date="-5y", end_date="now") for _ in range(10000)],
    'inventory_id': [fake.random_int(min=1, max=10000) for _ in range(10000)],
    'customer_id': [fake.random_int(min=1, max=1000) for _ in range(10000)],
    'return_date': [fake.date_time_between(start_date="-5y", end_date="now") for _ in range(10000)],
    'staff_id': [fake.random_int(min=1, max=10000) for _ in range(10000)],
    'last_update': [fake.date_time_between(start_date="-5y", end_date="now") for _ in range(10000)]
}

In [ ]:
rental_df = pd.DataFrame(rental_data)

In [ ]:
rental_df.to_sql('rental',con,index=False,if_exists='replace',method='multi')

10000

In [ ]:
category_data = {
    'category_id': list(range(1, 1001)),
    'name': [fake.word() for _ in range(1000)],
    'last_update': [fake.date_time_between(start_date="-5y", end_date="now") for _ in range(1000)]
}

In [ ]:
category_df = pd.DataFrame(category_data)

In [ ]:
category_df.to_sql('category',con,index=False,if_exists='replace',method='multi')

1000

In [ ]:
film_category_data = {
    'film_id': [fake.random_int(min=1, max=10000) for _ in range(10000)],
    'category_id': [fake.random_int(min=1, max=1000) for _ in range(10000)],
    'last_update': [fake.date_time_between(start_date="-5y", end_date="now") for _ in range(10000)]
}

In [ ]:
film_category_df = pd.DataFrame(film_category_data)

In [ ]:
film_category_df.to_sql('film_category',con,index=False,if_exists='replace',method='multi')

10000

#Задания

1)	Создать запрос, возвращающий топ10 клиентов (customers), отсортированный от большего к меньшему по виду:
a.	customer_id [int]
b.	email [varchar]
c.	payments_count [int]
d.	total_amount [float]

In [ ]:
sql_1 = '''

with CustomerPayments as (
    select c.customer_id, c.email,
        count(p.payment_id) as payments_count,
        sum(p.amount) as total_amount,
        dense_rank() over (order by count(p.payment_id) desc, sum(p.amount) desc) as customer_rank
    from customers c
    left join payment p ON c.customer_id = p.customer_id
    group by c.customer_id, c.email
)
select cp.customer_id, cp.email, cp.payments_count, cp.total_amount
from CustomerPayments cp
where customer_rank <= 10
order by customer_rank, cp.customer_id desc, cp.email desc

'''
#dense_rank если будет одинаковая sum(p.amount), то выведутся все с этой sum(p.amount)

In [ ]:
select(sql_1)

   customer_id                       email  payments_count  total_amount
0           66   dunnelizabeth@example.org             129  63829.126693
1           14         fbrewer@example.org             122  66887.044650
2           83           jking@example.org             121  60833.287440
3           98        ufreeman@example.net             121  60658.892378
4            6         julie91@example.com             117  57130.241335
5           21  thompsonthomas@example.net             116  62497.362843
6           28      nicholas50@example.org             116  59024.632318
7           89     zcunningham@example.com             116  52956.937440
8           75        umcmahon@example.com             115  56558.661369
9           30          usmith@example.org             114  57881.709631

2)	Создать запрос, возвращающий количество фильмов, максимальную и минимальную длину (length) фильма, средний рейтинг (rating) и он же разбитый на группы (9–10, 7-8, 5-6 и менее 5) для всех фильмов, в которых снимался актер с фамилией “James

In [ ]:
sql_2 = '''
with CTE_1 as (
    select
        f.film_id,
        f.length,
        f.rating
    from film f
    left join film_actor fa on f.film_id = fa.film_id
    left join actor a on fa.actor_id = a.actor_id
    where a.last_name = 'James'
)
select
    count(*) as total_films,
    max(length) as max_length,
    min(length) as min_length,
    avg(rating) as avg_rating,
    case
        when avg(rating) between 9 and 10 then '9-10'
        when avg(rating) between 7 and 8 then '7-8'
        when avg(rating) between 5 and 6 then '5-6'
        else '<5'
    end as rating_group
from CTE_1
'''

In [ ]:
select(sql_2)

   total_films  max_length  min_length  avg_rating rating_group
0           27         180          61    5.607407          5-6

In [ ]:
sql_2_check = '''
select f.* from film f
join film_actor fa ON f.film_id = fa.film_id
join actor a ON fa.actor_id = a.actor_id
where a.last_name = 'James'
'''

In [ ]:
select(sql_2_check)

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,special_features,fulltext
0,3683,Education fine sort.,Must important up resource. Large ahead boy kn...,1999,2,5,4.972757,77,36.658713,9.8,2021-12-17 06:04:46.356280,"attorney, as, building, nature, large",Discover through wear husband. Final weight ma...
1,4051,Machine son.,Big brother particular few finish remain. Stor...,2017,5,6,3.590345,165,48.300567,9.7,2021-05-25 09:18:49.664098,"share, recent, eye",Final purpose economic. Piece employee change ...
2,2592,Challenge person.,Person middle least six environmental miss yea...,2010,5,2,2.297908,116,42.047669,8.8,2023-11-26 22:13:52.168649,"see, wish, return",Individual moment stuff western difficult surf...
3,7514,Like service produce.,Yourself nation language us today. Tend they l...,1996,5,3,3.711885,142,36.338034,8.2,2021-11-27 14:46:47.040339,"control, what, win",Present evidence add PM business. Expert watch...
4,8911,Star long positive one.,Seat best during happy third. Computer religio...,1993,5,3,9.861826,120,20.287742,5.5,2021-12-07 12:12:16.514206,"play, exactly, quickly",Able allow two leg whom security road. Level t...
5,3570,Always feeling your.,Position yard morning can difficult. Ok profes...,2005,2,3,5.746454,112,26.182616,9.6,2022-05-06 03:19:06.906960,"happy, central, change, letter",Real everything article reality. Third light o...
6,338,If little.,Produce hit war car.,1994,3,5,6.581035,130,24.170721,2.7,2021-05-13 08:38:58.020095,"good, particularly, decide, structure",Kind instead dog six teach. Foreign call capit...
7,493,Onto know us.,Structure coach crime message the. Impact back...,1990,4,5,5.701707,97,49.832550,4.6,2022-09-05 21:06:35.112785,"stock, move, stop",Media seek rule entire instead point establish...
8,5832,Member operation.,Soldier more population watch. Power late scho...,2007,5,7,1.328421,141,11.331406,6.6,2022-10-12 02:52:03.691292,"cup, act, accept",Ability which war magazine model. Choice stuff...
9,9055,Painting.,Such music finish effect you situation hundred...,1998,4,5,8.339276,170,25.089228,2.3,2022-08-11 20:28:33.469728,"ten, a, me, whose, administration",Congress charge life nice. Despite rock worker...
10,3332,Tonight.,Go even fund population card us. Positive item...,2015,2,5,4.066055,99,29.803629,2.9,2022-01-15 18:53:54.232609,"put, civil, account, next, letter",Billion commercial none industry option. Eveni...
11,735,Cause determine head.,School significant TV like interesting moment....,2001,4,2,8.299046,98,46.144487,8.1,2022-08-21 02:23:57.699831,"style, country, mission, body",Vote throw administration accept. Play low app...
12,6314,How speak sort each.,Those sing sense nor other. Couple how best me...,2022,1,4,6.071035,70,10.018962,2.1,2023-05-03 14:47:12.281087,"baby, treatment, tough, happen, mother",Heart against me begin city town. Create theor...
13,2249,During down business.,Minute ready hard. Fire beautiful either detai...,2019,3,2,8.083126,137,21.991600,5.4,2019-10-04 00:06:02.721017,"do, everybody, either",Foot most until oil. Bar from but common paren...
14,6023,Then business woman.,Special tree nice president. Hour fly idea edu...,1992,3,5,9.466959,101,10.661726,4.5,2024-02-21 09:50:25.937969,"ten, movement, around",Hard itself send character position. Hotel not...
15,5094,Television agent.,Suggest opportunity tough feel. Crime inside s...,2018,5,5,2.042042,72,27.228892,8.9,2019-08-02 17:14:56.248063,"different, use, walk, plant, be, girl",Gun training chance season no rich. Attack pol...
16,8910,Support morning guy.,Crime investment growth. Health baby energy sp...,2013,3,9,8.408134,139,35.956988,4.1,2019-08-25 16:18:30.163206,"century, indicate, think, policy, degree, police",Big pick yourself place wish speak. Home east ...
17,6099,Yeah end position.,Alone outside season. Doctor writer parent agr...,2018,2,8,6.280384,134,37.334987,2.3,2021-09-29 06:29:41.591646,"raise, way, west",Chair protect modern already. Lawyer however i...
18,3964,Fly mean possible.,Live process team check beat should. Through c...,2007,1,2,6.204786,135,27.424927,2.2,2022-03-23 05:19:02.702831,"idea, expect, star, call, material",Perform kid turn discussion affect.\nUnit vari...
19,2277,Sport act military north.,Decision fight itself shoulder. Moment so cup ...,2002,2,7,3.214931,99,31.912589,7.9,2019-10-06 09:08:05.511739,"culture, tough, rule",However for technology. Ever local brother tim...
20,1681,Wide choose within.,When federal appear natural tonight real cover...,2005,2,1,8.431880,96,13.354243,5.7,2020-02-13 22:00:52.417751,"economic, whole, some",Off decade reach. Magazine yeah half security ...
21,8136,Standard.,Party stock do question fast ready. Thank term...,2000,5,3,8.033162,61,40.450626,2.6,2020-03-26 01:03:12.724000,"wish, team, rather",Heavy hundred she action nearly game mean stag...
22,1279,Boy over open.,Physical support conference decision window co...,2003,5,10,7.784410,86,6.294888,2.4,2019-11-15 12:12:38.683276,"crime, practice, save, political, process, wrong",Two others main consider month outside tell. C...
23,1668,Energy partner catch.,Agent clear what fish toward last such. Writer...,2010,5,6,1.373000,180,41.785653,5.4,2019-07-24 04:10:04.122334,"similar, style, start, here, chair",Song without allow control able. Throughout ea...
24,6204,Support former citizen.,Forward senior whole walk wrong can road. List...,1998,4,4,8.037942,61,5.514561,5.4,2021-12-05 13:52:25.969793,"sound, performance, do",Meet debate left choose boy always food. Range...
25,6726,Think teach miss.,Practice prepare red set head clear. Large now...,1998,4,6,8.246503,98,17.073299,8.3,2023-11-21 20:57:17.788431,"wish, score, chance, all, clearly, off",Take center attack claim want majority fund tr...
26,8669,Question during.,Event single unit card. Administration operati...,2003,4,2,4.771919,169,22.237408,5.4,2022-10-04 03:04:13.767753,"current, tough, strong",Lot could television office. Door figure state...

3)	Найти по 3 города (city) c наибольшей и наименьшей выручкой от платежей клиентов (amount) за последние 30 дней (payment_date)

In [ ]:
sql_3_max = '''

select city
from (
    select c.city,
        sum(p.amount) as total_amount,
        dense_rank() over (order by sum(p.amount) desc) as dr
    from city c
    left join address a on c.city_id = a.city_id
    left join staff s on a.address_id = s.address_id
    left join payment p on s.staff_id = p.staff_id
    where p.payment_date >= date('now', '-30 days')
    group by c.city
) as t1
where dr <= 3

'''

In [ ]:
select(sql_3_max)

             city
0      Jessemouth
1  North Kimberly
2     Collinsland

In [ ]:
sql_3_min = '''

select city
from (
    select c.city,
        sum(p.amount) as total_revenue,
        dense_rank() over (order by sum(p.amount) asc) as dr
    from city c
    left join address a on c.city_id = a.city_id
    left join staff s on a.address_id = s.address_id
    left join payment p on s.staff_id = p.staff_id
    where p.payment_date >= date('now', '-30 days')
    group by c.city
) as t1
where dr <= 3

'''

In [ ]:
select(sql_3_min)

              city
0     South Robert
1     East Valerie
2  Lake Jacqueline

4)	Показать накопительным итогом изменение выручки (amount) по фильму “Avatar” за последние 2 месяца (payment_date)

In [ ]:
sql_4 = '''

select p.payment_date,
    sum(p.amount) over (order by p.payment_date) as cumlative_amount
from payment p
left join rental r on p.rental_id = r.rental_id
left join inventory i on r.inventory_id = i.inventory_id
left join film f ON i.film_id = f.film_id
where f.title = 'Avatar'
    and p.payment_date >= date('now', '-2 months')
order by p.payment_date

'''
#Пришлось вручную добавлять Avatar (ради James было сделано 10к строк, до этого было 1к строк)
#Создание свежего las_update у Avatar не принесло успеха, но запрос в любом случае отработал

In [ ]:
select(sql_4)

Empty DataFrame
Columns: [payment_date, cumlative_amount]
Index: []

In [ ]:
sql_Avatar = '''

select f.* from film f where f.title = 'Avatar'

'''

In [ ]:
select(sql_Avatar)

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,special_features,fulltext
0,10001,Avatar,Really ground rest life. Republican away dinne...,2009,5,10,7.691603,123,21.075916,4.9,2024-03-18 05:30:38.412180,"mother, ground, scene, expert, green, professor",Relationship church radio her debate now carry...

5)	Показать топ 3 категории фильмов (name) c топ5 фильмами внутри категории по изменению рейтинга фильма (рейтинг) за последний месяц ( данные есть за каждый день в поле last_update)

In [ ]:
sql_5 = '''

with TopCategories AS (
    select c.name AS category_name, f.title, f.rating,
        dense_rank() over (partition by c.name order by f.rating desc) as rank
    from film f
    left join film_category fc ON f.film_id = fc.film_id
    left join category c ON fc.category_id = c.category_id
    left join (
        select c.name AS category_name,
            sum(f.rating) as total_rating,
            dense_rank() OVER (order by AVG(f.rating) DESC) AS rank
        FROM film f
        left join film_category fc ON f.film_id = fc.film_id
        left join category c ON fc.category_id = c.category_id
        group by c.name
    ) AS top_categories on c.name = top_categories.category_name
    where top_categories.rank <= 3
        and f.last_update >= DATE('now', '-1 month')
)
select category_name, title, rating
from TopCategories
where rank <= 5
order by category_name, rating DESC;

'''
#Если убрать and f.last_update >= DATE('now', '-1 month'), то есть значения
#Верятно, елси изменить интервал в film_df (сейчас 5 лет), то все ок будет
#Запрос выводит пустую таблицу - 50% сделано - стакан на половину полон

In [ ]:
select(sql_5)

Empty DataFrame
Columns: [category_name, title, rating]
Index: []